html{
    font-size: 62.5%;
}
body{
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15rem;
}

.play-btn{
    color: #eb5a76;
    background-color: #fff2f5;
    border: 2px solid #eb5a76;
    padding: 6rem 5rem;
    font-size: 2rem;
    height: auto;
    margin: 3rem 2rem 0rem 1rem;
    cursor: pointer;
}
.outfill{ 
    background-color: #696305;
    border: 2px solid #eb5a76;
    padding: 6rem 5rem;
    font-size: 2rem;
    height: auto;
    margin: 3rem 2rem 0rem 1rem;
    cursor: pointer;
    columns: white;
}

.playing{
    background-color: rgb(129, 173, 159);
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #c78b99;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff2f5;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #c78b99;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff2f5;
}